.formulario {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-bottom: 2rem;
}

.formulario form {
    background-color: #F2F2F2;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
    flex: 1;
    padding: 36px 64px;
}

@media screen and (min-width: 1024px){
    .formulario{
        align-items: flex-start;
        flex-direction: row;
    }

    .formulario form {
        flex: 0.3;
        border-radius: 20px;
    }

}